:root{
--wine: #773344ff;
--pale-dogwood: #e3b5a4ff;
--linen: #f5e9e2ff;
--licorice: #0b0014ff;
--indian-red: #d44d5cff;
}

* {
    background-color: var(--linen);
}

h1{
    font-size: 60px;
    font-weight: bold;
    color: var(--wine);
   
}

h2{
    font-size: 40px;
    color: var(--wine);
   
}

h3 {
  font-size: 30;
  color: var(--wine);
}

h4 {
    border-bottom: 2px solid #773344ff;
    padding-bottom: 16px;
    color: var(--wine);
}

p{
  font-size: 18px;
  color: var(--wine);
}



/* ---------- Header ---------- */

header {
    display: flex; 
    position: fixed;            /* Así se queda fija cuando haga scroll*/
    height: 100px;                                                                    
    padding: 0px 16px;          /* Separo el texto del contenedor a la derecha e izquierda */
    position: sticky;           /* Hace que el header no se mueva*/
    top: 0;                     /* Pega el header arriba del todo*/
    width: 100%;
    z-index: 10; /* Hace que la barra de navegación tape otros elementos*/
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  display: flex;       
  list-style: none;    /*Para que no salgan las viñetas de la lista*/
  padding: 0;
  margin: 0;
}

.menu li a {                                      
  padding: 0 32px;         /*Espacio entre los elementos de la lista*/     
  text-decoration: none;    
  color: var(--wine);
  font-size: 18px;
  transition: color 0.3s;
}
.menu li a:hover {
    color: var(--indian-red); 
}


/* ---------- Home ---------- */

#home h1,
#home h2 {
  margin-top: 0;
  margin-bottom: 8px;
}

#home h2,
#home p {
  margin-top: 0;
  margin-bottom: 8px;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 700px;
  padding: 30px 30px;
  border: 4px solid #773344ff;
  border-radius: 16px;
  text-align: center;
  color: var(--wine);
  box-shadow: 10px 10px 5px;
  margin: 80px auto;                /*Centrar cuadro y margenes de arriba*/
  transition: transform 0.3s;
}

#home:hover {
    transform: translateY(-10px); 
}
/* ---------- Biografía ---------- */

.biografia {
    display: flex;       
    flex-direction: column;        
    justify-content: center;     
    align-items: center; 
    margin: 0 auto;
    max-width: 700px;

} 
.biografia h2, 
.biografia h3 {
    margin-top: 0;
    margin-bottom: 3px;
}
.biografia h2 {
    border-top: 2px solid #773344ff;
    padding-top: 16px;
}

.biografia h4 {
    border-bottom: 2px solid #773344ff;
    padding-bottom: 16px;
}

.biografia p {
    text-align: justify;
    
} 

/* ---------- Portfolio ---------- */

.portfolio h2 {
    margin: 30px auto;
    text-align: center;
    align-items: center;
    font-weight: bold;
  
}

.proyecto-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /*Para que cada fila tenga solo dos columnas*/
    flex-wrap: wrap; /* Permite que salten de línea */
    padding: 2px 2px;
    justify-items: center;  /* Centra las imágenes en cada cuadrado */ 
}
  
.portfolio-img {
    width: 650px;   
    height: 250px;  
    object-fit: cover; /*Para que la imagen rellene el contenedor*/
    border: 4px solid #773344ff ;
    box-shadow: 10px 10px 5px #773344ff ;
    border-radius: 8px; 
    margin: 40px auto;
    transition: transform 0.3s; 
    cursor: pointer; 
    
}

.portfolio-img:hover {
    transform: translateY(-10px); 
}


/* ---------- Contacto ---------- */

.header-contacto {
    margin: 30px auto;
    text-align: center;
    align-items: center;
    color: var(--wine);
    font-weight: bold;
}

#Contacto1 {
    display: flex;
    margin: 40px auto;
    flex-direction: column;
    gap: 10px;               /* Distancia entre las diferentes filas */
    padding: 30px;
    border: 2px solid #773344ff;
    border-radius: 16px;
    max-width: 700px;         
    
}

#Contacto1 input {
    padding: 10px;
    border: 1px solid #773344ff;
    border-radius: 8px; /*El radio de las esquinas del formulario en sí*/
    font-size: 16px; 
}

#Contacto1 label {
    font-weight: bold;
    color: var(--wine);
}

#Contacto2 {
    display: flex;
    margin: 40px auto;
    flex-direction: column;
    gap: 10px;               
    padding: 30px;
    border: 2px solid #773344ff;
    border-radius: 16px;
    max-width: 700px;           
    
}
#Contacto2 input {
    padding: 10px;
    border: 1px solid #773344ff;
    border-radius: 8px;
    font-size: 16px;
   
}
#Contacto2 textarea {
    border: 1px solid #773344ff;
    border-radius: 8px;
    font-size: 16px;
    
}

#Contacto2 label {
    font-weight: bold;
    color: var(--wine);
}

section button {
    display: flex;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    padding: 8px 24px;
    background-color: var(--wine);
    color: var(--linen);
    border: 2px solid #773344ff;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

section button:hover {
    background-color: var(--indian-red);
}

/* ---------- Footer ---------- */

footer {
    display: flex;
    bottom: 0;  /*Lo pega al pie de la pantalla*/    
    width: 100%;     
    background-color:var(--linen); 
    color: var(--wine);      
    padding: 20px 0; /*Para que tenga más distancia con el contenido*/
    justify-content: center; 
    
}


.footer {
    display: flex;
    flex-direction: column; 
    align-items: center;                
}


.footer a {
    text-decoration: none; 
    margin-bottom: 4px;
    font-size: 16px;
    color: var(--wine);           
    font-weight: bold;
    padding: 10px;
    transition: color 0.3s;
}

.contacto-footer h3 {
    display: inline-block;            /* para que el borde solo abarque el texto */
    border-bottom: 2px solid #773344ff ; /* color y grosor del subrayado */
    padding-bottom: 2px;  
}
.footer a:hover {
    color: var(--indian-red); 
}
