.root{
--liver: #664c43ff;
--cordovan: #873d48ff;
--rose-pompadour: #dc758fff;
--pale-purple: #e3d3e4ff;
--aquamarine: #00ffcdff;
}

* {
    background-color: white;
    text-align: justify;
}

h1{
    font-size: 50px;
   
}

h2{
    font-size: 40px;
}

p{
    font-size: 20px;
}

.biografia {
    text-align: center;
}

